.ipynb_checkpoints
*/.ipynb_checkpoints/*
.idea/
*/__pycache__/*
scripts/*/logs/*
.DS_Store
venv/
log.txt

experiments/
notebooks/cvpr/*/*.png
notebooks/cvpr/*/*.zip
notebooks/cvpr/*/*.tif
notebooks/cvpr/*/*.tiff
notebooks/cvpr/*/*/*.png
