.ipynb_checkpoints
*/.ipynb_checkpoints/*
.idea/
*/__pycache__/*
scripts/*/logs/*
.DS_Store
venv/
log.txt

experiments/
notebooks/cvpr/*/*.png
notebooks/cvpr/*/*.zip
notebooks/cvpr/*/*.tif
notebooks/cvpr/*/*.tiff
notebooks/cvpr/*/*/*.png

datastore_v2.json
monai-env/
.lock
*.pyc
logs/
results/
monailabel-app/api/model*/

fig_iterative/*.png
fig_iterative/**/*
*.egg-info/

mlruns/